accelerate==0.27.0.dev0
codebleu==0.7.0
datasets==2.16.2.dev0
datasketch==1.6.5
evaluate==0.4.2
networkx==3.1
networkx==3.2.1
nltk==3.8.1
numpy==2.1.0
pandas==2.2.2
peft==0.7.2.dev0
prettytable==3.11.0
pynvml==11.5.3
PyYAML==6.0.1
PyYAML==6.0.2
torch==2.1.2
torch_geometric==2.5.3
tqdm==4.65.0
transformers==4.37.0.dev0
wandb==0.16.2
